* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(101, 86, 86);
    color: rgba(255, 255, 255);
}
.noborder{
    border-style: none;
}
#tel:focus{
border-style: none;
}