/* ------------------------共用------------------------- */
*{
    box-sizing: border-box;
    /* outline: 1px rgb(196, 101, 101) solid; */
}

input:focus{
outline: 0;
}

textarea:focus{
outline: 0;
}

.bd-bot{
  border: 0;
  border-bottom: 1px solid #000;
}
.table-btn{
  cursor: pointer;
}
.tab{
  display: none;
}

/* -----------------流程圖----------------- */
.step {
    z-index: 1; 
    cursor: pointer; 
    background-color: #000000;
    border: none;
    border-radius: 50%;
    opacity: 0.3;
}

/* 步驟進行中 */
.step.active {
    opacity: 0.8;
}
/* -----------------大頭貼----------------- */
.profile{
  margin: 0 auto;
  width: 70px; 
  height: 70px; 
  background-color: rgb(100, 99, 132, 0.4);
} 
/* -----------------能力表----------------- */
.ability-chart{
  width: 100%;
  height: 70%;
}
/* -----------------活動名稱----------------- */


/* -----------------活動名稱----------------- */
.act-textarea{
  resize: none;
}
.day-count{
  margin-left: 1rem;
  font-size: 1.2rem;
}
/* -----------------行程規劃----------------- */
th ,td{
  height: 4rem;
  text-align: center;
}

.add-delete-btn{
  width: 1.5rem;
  background-color: grey;
  color: white;
  margin: 0;
}
/* -----------------裝備清單----------------- */

/* -------------------按鈕------------------- */
.backtohome{
  width: 6rem;
  color: #fff;
  text-align: center;
  display: none;
  text-decoration: none;
  margin: 0 auto;
}

.backtohome:hover{
  color: white;
}

.submit-btn{
  display: none;
  margin: 0 auto;
}

/* 表單 */
.invalid{
  border: 0;
  background-color: rgb(247, 227, 227);
}
/* -------------------地圖------------------- */

html{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}

/* TODO: 改大小 */
#map{
    height: 80vh;
    width: 50%;
}

.title{
   padding: auto;
   margin-left: 45%;
}

.infowindow-container {
  display: flex;
  overflow: hidden;
  }

  .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .image{
    object-fit: cover;
    width: 100%;
  }

  button{
    border:0;
    background-color:#003C9D;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
  }
