$font-size-B: 32px;
$font-size-M: 28px;
$font-size-S: 24px;
$font-family: serif, sans-serif, cursive, fantasy, monospace;
.navDistance {
  //第一段跟nav的距離
  margin-top: 8rem;
}
.title {
  //大標題
  font: {
    size: $font-size-B;
    weight: bold;
  }
  font-family: $font-family;
}
.middleTitle {
  //中標題
  font-size: $font-size-M;
  font-family: $font-family;
}
.text {
  //內文
  font-size: $font-size-S;
  font-family: $font-family;
}
.shadow {
  box-shadow: 34px 34px 34px #945050, -34px -34px 34px #ffb2b2;
}
