<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登入頁面</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="../public/login/style.css">
  <script src="../public/login/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <header>會員登入</header>

    <form id="userLogin" action="/login" method="POST">

      <div class="field email">
        <div class="input-area">
          <input type="email" class="loginEmail" name="useremail" placeholder="E-mail" />
          <i class="icon fas fa-envelope"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">Email不能是空的</div>
      </div>

      <div class="field password">
        <div class="input-area">
          <input type="password" class="loginPassword" name="userpassword" placeholder="密碼">
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas54y1<%- 671 %>  fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">密碼不能是空的</div>
      </div>
      <div class="forgetPwBtn"><a href="/" class="forget">HOME</a></div>
      <input type="submit" class="loginBtn" name="login" value="登入">
    
      
    </form>
    <div class="sign-txt">還不是會員？<a href="/signup" class="signup">註冊</a></div>
    
  </div>

  <script>

    // $('.userLogin').submit(function () {
    //   e.preventDefault();
    //   var formData = new FormData();
    //   formData.append("username", $('[name=""username"]').val());
    //   event.stopPropagation();
    //   event.preventDefault();
    //   $.ajax({
    //     url: $(this).arrt("action"),
    //     data: formData,
    //     type: 'POST',
    //     success: function (data) {
    //       alert(data);
    //       // window.location('/');
    //     }
    //   });
    //   // return false;
    // })

  </script>

</body>