<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <title>Document</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/style/try.css">

</head>

<body>
  <!-- 大頭貼 -->
  <div class="profile profile-name rounded-circle navDistance ">
    <img id="imagegrid" src="" alt="" style="display: none;">
    <label for="upload"><i class="material-icons" style="font-size: 30px;">add_a_photo</i></label>
    <input type="file" name="upload" id="upload" accept="image/*" style="display: none;" />
  </div>


  <!-- 姓名 -->
  <form action="/rename" method="POST" style="display: inline;" class="d-block text-center">
    <input type="text" name="name" id="name" value="<%= userName %>" readonly class="text-center">
    <button id="namebtn2" style="display: none;">
      <span id="namespan2">save</span>
      <img id="nameimg2" src="/img/save.png" alt="">
    </button>
  </form>
  <button id="namebtn" type="submit" class="d-block text-center">
    <span id="namespan">edit</span>
    <img id="nameimg" src="/img/edit.png" alt="">
  </button>
  <br>

  <!-- 電話 -->
  <label class="d-block text-center" style="margin-bottom: 2vh;">
    Phone:
  </label>
  <form action="/rephone" method="POST" style="display: inline;" class="d-block text-center">
    <input type="tel" name="tel" id="tel" class="text-center bd-bot" readonly value='<%= userPhone %>'>
    <button id="telbtn2" style="display: none;">
      <span id="telspan2">save</span>
      <img id="telimg2" src="/img/save.png" alt="">
    </button>
  </form>
  <button id="telbtn" type="submit" class="d-block text-center">
    <span id="telspan">edit</span>
    <img id="telimg" src="/img/edit.png" alt="">
  </button>
  <br>


  <!-- 信箱 -->
  <label class="d-block text-center">
    E-mail:
  </label>
  <form action="/remail" method="POST" style="display: inline;" class="text-center bd-bot">
    <input type="mail" name="mail" id="mail" class="text-center bd-bot" readonly value='<%= userEmail %>'>
    <button id="mailbtn2" style="display: none;">
      <span id="mailbtn2">save</span>
      <img id="mailbtn2" src="/img/save.png" alt="">
    </button>
  </form>
  <button id="mailbtn" type="submit" class="d-block text-center">
    <span id="mailspan">edit</span>
    <img id="mailimg" src="/img/edit.png" alt="">
  </button>
  <br>

  <!-- 經驗輸入框 -->
  冒險經驗:
  <form action="/retext" method="POST" style="display: inline;">
    <textarea class="expeirence-textarea w-100" name="text" id="text" rows="10"
      readonly><%= userExprnience %></textarea>
    <button id="textbtn2" style="display: none;">
      <span id="textbtn2">save</span>
      <img id="textbtn2" src="/img/save.png" alt="">
    </button>
  </form>
  <button id="textbtn" type="submit">
    <span id="textspan">edit</span>
    <img id="textimg" src="/img/edit.png" alt="">
  </button>
  <br>



  <script src="/yentest.js">
  </script>

</body>

</html>