<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <title>Document</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <!-- 大頭貼 -->
  <div class="profile profile-name rounded-circle navDistance ">
    <img id="imagegrid" src="" alt="" style="display: none;">
    <label for="upload"><i class="material-icons" style="font-size: 30px;">add_a_photo</i></label>
    <input type="file" name="upload" id="upload" accept="image/*" style="display: none;" />
  </div>


  <!-- 姓名 -->
  <form action="/rename" method="POST">
    <h5>王小明</h5>
    <input type="text" name="name" id="name">
    <label for="name">
      <button>
        <img src="../public/edit.png" alt="">
      </button>
    </label>
  </form>
  <br>
  <img src="../public/img/下載.jpg" alt="">
  <!-- 電話 -->
  <label>
    Phone:
    <input type="tel" name="tel" id="tel" class="text-center bd-bot">
    <img src="/vertwo/public/img/edit.png" alt="">
  </label>
  <br>
  <!-- 信箱 -->
  <label>
    E-mail:
    <input type="email" name="email" id="email" class="text-center bd-bot">
    <img src="/vertwo/public/img/edit.png" alt="">
  </label>
  <br>
  <h5>冒險經歷</h5>
  <label for="text">
    <img src="/vertwo/public/img/edit.png" alt="">
  </label>
  <br>
  <!-- 輸入框 -->
  <textarea class="expeirence-textarea w-100" name="" id="text" rows="10" style="margin-bottom: 2vh;"></textarea>

</body>

</html>