<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/yen2.css">
  <link rel="stylesheet" href="../style/style.css" />
  <link rel="stylesheet" href="../nav/nav.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <!-- NAV BAR -->
  <div w3-include-HTML="../nav/nav.html"></div>
  <!-- NAV BAR -->

  <div class="container navDistance">
    <!-- 大頭貼 -->
    <div class="profile profile-name rounded-circle">
      <img id="imagegrid" src="" alt="" style="display: none;">
      <label for="upload"><i class="material-icons" style="font-size: 30px;">add_a_photo</i></label>
      <input type="file" name="upload" id="upload" accept="image/*" style="display: none;" />
    </div>



    <!-- 姓名(記得補上ejs變數) -->
    <div class="nameformm">
      <form class="nameform" action="/rename" method="POST">
        <input type="text" name="name" id="name" value='<%= userName %>' readonly class="text-center" size="8"
          style="font-size: 1.3em; background-color: none;">
        <button id="namebtn2" style="display: none;" class="btn">
          <img id="nameimg2" src="/img/save.png" alt="">
        </button>
      </form>
      <button id="namebtn" type="submit" class="text-center btn">
        <img id="nameimg" src="/img/edit.png" alt="">
      </button>
    </div>



    <!-- 電話 -->
    <div class="nameformm">
      <form action="/rephone" method="POST" style="" class="nameform">
        <span>Phone：</span>
        <input type="tel" name="tel" id="tel" class="text-center" readonly value='<%= userPhone %>' size="20">
        <button id="telbtn2" style="display: none;" class="btn">
          <img id="telimg2" src="/img/save.png" alt="">
        </button>
      </form>
      <button id="telbtn" type="submit" class="text-center btn">
        <img id="telimg" src="/img/edit.png" alt="">
      </button>
    </div>


    <!-- 信箱 -->
    <div class="nameformm">
      <form action="/remail" method="POST" style="" class="nameform">
        <span>E-mail：</span>
        <input type="mail" name="mail" id="mail" class="text-center " readonly value='<%= userEmail %>' size="20">
        <button id="mailbtn2" style="display: none;" class="btn">
          <img id="mailbtn2" src="/img/save.png" alt="">
        </button>
      </form>
      <button id="mailbtn" type="submit" class="text-center btn">
        <img id="mailimg" src="/img/edit.png" alt="">
      </button>
    </div>

    <!-- 能力值 -->
    <div class="container d-flex" style="margin-top: 10vh;">
      <div class="col-1"></div>
      <div class="col-4">
        <h5 class="text-center" style="margin-bottom: 4vh;">能力值</h5>
        <!-- 能力表 -->
        <div class="ability-chart">
          <canvas id="myChart"></canvas>
        </div>
        <p class="text-center" style="margin-top: 4vh;">評價人次：
          <span>?</span>
        </p>
      </div>
      <div class="col-2"></div>
      <!-- 冒險經歷 -->
      <div class="col-4 exp">
        <div style="text-align: center;">
          <h5 style="display: inline;;" id="exph5">冒險經歷</h5>
          <button id="textbtn" type="submit" class="btn">
            <img id="textimg" src="/img/edit.png" alt="">
          </button>
        </div>
        <!-- 輸入框 -->
        <div style="position: relative;">
          <div style="height:30px;">
            <form action="/retext" method="POST" style="display: inline;">
              <div>
                <button id="textbtn2" style="display: none; position: absolute; left: 235px;top: -30px;" class="btn">
                  <img id="textbtn2" src="/img/save.png" alt="">
                </button>
              </div>
              <div style="height: 20vh; position: relative;">
                <textarea class="expeirence-textarea w-100" name="text" id="text" cols="30" rows="12"
                  readonly><%= userExprnience %></textarea>
              </div>
            </form>
          </div>
          <div style="height: 30px; position: absolute; top: 28vh;" >
            <span style="">※此處將同步更新至個人資料</span>
            <span style="float: right;">
              <input type="checkbox" id="vehicle1" name="vehicle1" value="no" style="">
              <label for="vehicle1" style="">不公開</label><br>
            </span>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    </form>
  </div>



  <!-- FOOTER -->
  <div w3-include-HTML="/footer.html" class="footerDistance"></div>
  <!-- FOOTER -->
  <script>
    w3.includeHTML();
  </script>
  <script src="./yen2.js"></script>
  <script src="./nav.js"></script>


</body>

</html>