<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/yen/yen2.css">
  <link rel="stylesheet" href="../style/style.css" />
  <link rel="stylesheet" href="../nav/nav.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <!-- NAV BAR -->
  <div w3-include-HTML="../nav/nav.html"></div>
  <!-- NAV BAR -->

  <div class="container navDistance">
    <div>
      <!-- 大頭貼 -->
      <div class="profile profile-name rounded-circle">
        <img id="imagegrid" src="" alt="" style="display: none;">
        <button>
          <label for="upload">
            <img src="/public/img/yen/photo.png" alt="" style="width: 25px; height: 25px;">
          </label>
        </button>
        <input type="file" name="upload" id="upload" accept="image/*" style="display: none;" />
      </div>


      <!-- 姓名(記得補上ejs變數 加在value) -->
      <div style="text-align: center;">
        <form class="nameform" action="/rename" method="POST" id="nameform" style="display: inline-block;">
          <input type="text" name="name" id="name" value='<%= userName %>' readonly class="text-center" size="8"
            style="font-size: 1.3em;">
        </form>
        <!-- save -->
        <button id="namebtn2" style="display: none;" class="btn" form="nameform">
          <img id="nameimg2" src="/img/yen/save.png" alt="">
        </button>
        <!-- edie -->
        <button id="namebtn" class="text-center btn">
          <img id="nameimg" src="/img/yen/edit.png" alt="">
        </button>
      </div>


      <!-- 電話 -->
      <div style="text-align: center;">
        <form action="/rephone" method="POST" style="display: inline-block;" class="nameform" id="telform">
          <span>Phone：</span>
          <input type="tel" name="tel" id="tel" class="text-center" readonly value='<%= userPhone %>' size="20">
        </form>
        <!-- save -->
        <button id="telbtn2" style="display: none;" class="btn" form="telform">
          <img id="telimg2" src="/img/yen/save.png" alt="">
        </button>
        <!-- edit -->
        <button id="telbtn" class="text-center btn">
          <img id="telimg" src="/img/yen/edit.png" alt="">
        </button>
      </div>


      <!-- 信箱 -->
      <div style="text-align: center;">
        <form action="/remail" method="POST" style="display: inline-block;" class="nameform" id="mailform">
          <span>E-mail：</span>
          <input type="mail" name="mail" id="mail" class="text-center " readonly value='<%= userEmail %>' size="20">
        </form>
        <!-- edit -->
        <button id="mailbtn2" style="display: none;" class="btn" form="mailform">
          <img id="mailbtn2" src="/img/yen/save.png" alt="">
        </button>
        <!-- save -->
        <button id="mailbtn" class="text-center btn">
          <img id="mailimg" src="/img/yen/edit.png" alt="">
        </button>
      </div>
    </div>


    <!-- 能力值 -->
    <div class="container col-11 d-flex" style="margin-top: 2vh;">
      <div class="col-1"></div>
      <div class="col-4">
        <h5 class="text-center" style="margin-bottom: 4vh;">能力值</h5>
        <!-- 能力表 -->
        <div class="ability-chart">
          <canvas id="myChart"></canvas>
        </div>
        <p class="text-center" style="margin-top: 4vh;">評價人次：
          <span>?</span>
        </p>
      </div>

      <div class="col-1"></div>

      <!-- 冒險經歷 -->
      <div class="col-5">
        <div style="">
          <div style="margin-left: auto; margin-right: auto; width: 150px; text-align: center;">
            <h5 id="exph5">冒險經歷
              <!-- edit -->
              <button id="textbtn" type="submit" class="btn">
                <img id="textimg" src="/img/yen/edit.png" alt="">
              </button>
              <!-- save -->
              <button id="textbtn2" style="display: none;" class="btn" type="submit" form="textarea">
                <img id="textbtn2" src="/img/yen/save.png" alt="">
              </button>
            </h5>
          </div>
        </div>
        <!-- 輸入框 -->
        <div style="margin-left: 30px;">
          <form action="/retext" method="POST" style="" id="textarea">
            <textarea name="text" id="text" cols="40" rows="12" readonly><%= userExprnience %></textarea>
          </form>
        </div>
        <div style="margin-left: 30px;">
          <span style="">※此處將同步更新至個人資料</span>
        </div>
      </div>

      <!-- <div class="col-1"></div> -->
    </div>
    </form>
  </div>



  <!-- FOOTER -->
  <div w3-include-HTML="/footer.html" class="footerDistance" style="margin-top: 0;"></div>
  <!-- FOOTER -->
  <script>
    w3.includeHTML();
  </script>
  <script src="./yen2.js"></script>
  <script src="./nav.js"></script>


</body>

</html>