*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
     /* border: 3px solid tomato;   */
}

#section1 a{
    color:rgb(28, 113, 241) !important;
    text-decoration: none !important;
}

ul{
    padding-left: 0px !important;
}

#blur_all{
    display:none;
    position:fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: none;
}


img[class*="Icon"]{
    width: 16px !important;
    height: 16px !important;
    cursor: pointer;
}


/* -------------------------------------------------------------------------- */
/* ----------------------------- section 0 ---------------------------------- */
/* -------------------------------------------------------------------------- */
#section0{
    margin: auto;
    width:100vw;
    height:400px;
    overflow:hidden;
     /* background-image:linear-gradient(rgb(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),url('../../img/song_img/view1.jpg');
    background-image:url('../../img/song_img/view1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}

#section0 img{
    width: 100%;
    height: 100%; 

}



/* -------------------------------------------------------------------------- */
/* ----------------------------- section 1 ---------------------------------- */
/* -------------------------------------------------------------------------- */
#section1{
    padding-top: 3vh   ;
}

#section1 [data-toggle="collapse"]{
    cursor:pointer;
}

.downArrow{
    width:12px !important;
}

.edit{
    width: 16px !important;
    margin-left: 0.5vw;
    cursor: pointer;
}


.divider{
    margin: 0 auto 1vh auto;
}

/* ------- Left: trip select Start ------- */
#tripSelContainer{
    padding: 5vh 13vh;
    text-align: center !important;
}

#tripSelContainer li{
    margin: 3vh auto;
}

#createdTripContainer{
    margin-bottom: 10vh
}

/* ------- Middle: management Start ------- */
#managementContainer{
    padding: 3vh 5vh;
}

#selTripName{
    margin-bottom: 20px;
}

#tripManageTab{
    border: 1px solid rgb(230, 230, 230);
    border-top: 0;
    padding:20px 10px;
    box-shadow:  13px 13px 26px #e6e6e6,
    -13px -13px 26px #ffffff;

}

/* ----- 冒險團留言板 ----- */
#textBoard{
    /* border:1px solid rgb(230, 230, 230); */
    border-radius: 10px 10px 0 0 ;
    border: 1px solid rgb(230,230,230);
    background: #ffffff;
    box-shadow: inset 10px 10px 20px #e6e6e6,
    inset -10px -10px 20px #ffffff;
    height:60vh;

}



#textSendContainer{
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    padding: 2vh;
}

.inputFile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFile + label{
    font-size: 1em;
    font-weight: 700;
    color: rgb(47, 47, 180);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px dotted rgb(47,47,180);
    border-radius: 0.5em;

    width: 125px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fileCount{
    max-height: 28px;
    text-align: center;
    overflow: hidden;
    width: 0%;
    opacity:0;
    transition: all 0.3s ease;
}

#chatroomText{
    width:100%;
    opacity:1;
    transition: all 0.3s ease;
    padding-left: 20px !important;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
}
#chatroomText::placeholder{
    color: rgb(210,210,210)
}

#textSendContainer img{
    width:22px;
    height: 22px;
    cursor: pointer;
    margin:auto;
}

#textSendContainer #fileCount{
    padding-top: 4px;
}

#textSendContainer label{
    margin-bottom: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




/* ----- 團員待審核 ----- */

table{
    width: 100%;
}

th,td{
    text-align: center !important;
    min-width: 60px;
    padding-top: 2.5vh;
}

.tableRow{
    font-weight: 500;
    font-size: 18px;
}


#tripMember .tableTitle:not(:first-of-type){
    margin-top: 6vh;
}

.checkCancelContainer{
    margin: auto;
    width:fit-content;
    display: flex;
    justify-content: space-between;
    width: 50px
}

/* ------裝備清單----- */
#itemList td {
    padding:6px 0px
} 

#itemList li {
    padding:3px 0px
}

.provideList li{
    display: flexbox;
    justify-content: space-between;
}

.provideList span{
    display:inline-block;
    width:max-content
}

.plusContainer{
    margin: auto;
}

.superLi{
    position:relative;
    margin-top: 3px;
}


.superLi:first-child{
    margin-top: -3px;
}

.superLeft{
    position:absolute;
    left:3vw;
}

.superSpan{
    position:absolute;
    left:7vw;
} 

.superRight{
    position:relative;
    left: 42px;
}

#privateItemList{
    width:45%;
}

/* ------- Rigtht: schedule Start ------- */
#scheduleContainer{
    padding: 5vh 13vh;
    text-align: center;
}

#scheduleContainer td{
    width:15%
}

#scheduleContainer  hr:first-of-type{
    margin-bottom: 3vh;
}

.scheduleDay{
    margin-bottom: 5vh;
}

.scheduleDay h4:first-child{
    text-align: left;

}

#noteText{
    width:90%;
    min-height: 100px;
    padding: 5px;
    text-align: left;
    border: 1px solid rgb(230, 230, 230);
}

/* ---------- modal---------- */
div[id*="ItemListEdit"] th:first-child, div[id*="ItemListEdit"] td:first-child{
    text-align: left;
}
