.ttop {
    background-image: url(/public/img/yen/trophytop.jpg);
    background-size: 100%;
}

#pagename {
    text-align: center;
    margin-top: 10vh;
    color: black;
    font-size: 2.5em;
}



/* 獎盃圖 */
.maincard1 {
    text-align: center;
}

.maincard1 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 200px;
}

/* 大表格 */
.maincard2 {
    font-size: 2.5vh;
}

.maincard20 {
    display: flex;
    margin-bottom: 10px;
}

.maincard20 table{
    font-size: 1.2em;
    width: 35%;
}

#tata{

}
#trtr{
margin-left: 5vw;
}




.maincard20 .frt{
    width: 80px;
}
.maincard20 .sec{
    width: 160px;
}
.maincard20 .thr{
    text-align: end;
    /* width: 80px; */
}


/* 彈跳視窗 */
.light {
    display: none;
    position: fixed;
    top: 18%;
    left: 30%;
    right: 30%;
    /* border: 3px solid orange; */
    background-color: white;
    z-index: 1;
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 2px 3px 7px #464646;
}

.closebt {
    display: inline;
}

.light h1 {
    text-align: center;
    /* margin: 0; */
}

.light hr {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.light table {
    border-collapse: collapse;
    margin: auto;
    font-size: 1.3em;
}


.light .frt {
    width: 60px;
}

.light .sec {
    width: 200px;
}

.light p {
    margin-top: 30px;
    text-align: center;
}

/* hr */
hr.container {
    margin-bottom: 50px;
    border-top: 4px solid #252525;
}

/* ------------其他獎盃區--------------*/
.mid {
    /* display: flex; */
    /* justify-content: space-between;s */
    margin: auto;
}

.card1 {
    float: left;
    display: flex;
    width: 36%;
    /* background-color: #3ce147; */
    margin-bottom: 7vh;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
}

.card11 {
    margin: auto;
    text-align: center;
    /* background-color: yellow; */
}

.card11>h3 {
    margin: 0;
}

.card11>p {
    margin: 0;
}

.card11 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 175px;
    width: 175px;
    margin-bottom: 20px;
}

/* 獎盃表格 */
.card12 {
    /* background-color: indianred; */
    position: relative;
}

.card12 td {

}

.card12 table {
    font-size: 1.4em;
    /* background-color: aqua; */
    border-collapse: collapse;
    margin-bottom: 20px;
    line-height: normal;
}

.card12 td.frt {
    width: 70px;
}

.card12 td.sec {
    width: 130px;
    max-width: 150px;
}

.card12 td.thr {
    text-align: end;
    width: 70px;
}

.card12 p {
    display: inline-block;
    padding-left: 40xp;
    font-size: 1.2em;
}